.header {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}
.header_left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}
.header_left {
  display: flex;
}
.header_search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 22px;
  color: gray;
  background-color: #eef3f8;
}

.header_search > input {
  outline: none;
  border: none;
  background: none;
}

.header_right {
  display: flex;
}
.topnav a.icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header_left {
    min-width: 80%;
  }
  .header_search {
    width: 100%;
  }

  .topnav #myLinks {
    display: none;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
  }
  .topnav a {
    color: gray;

    text-decoration: none;
    font-size: 40px;
    display: block;
  }

  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    min-width: 20%;
    text-align: center;
  }

  .topnav a:hover {
    color: black;
  }
}
